<div class="container mt-5">
    <div class="jumbotron jumbotron-fluid mt-5">
        <div class="row justify-content-center">
            <h2 class="text-danger mb-5"> Read and write reviews about your professors! Your GPA depends on it. </h2>
        </div>


        <div class="container d-flex justify-content-center">
            <div class="form-group">
                <%= form_for @user do |f| %>
                <%= f.label :username %>
                <%= f.text_field :username %>
                <%= f.label :password %>
                <%= f.password_field :password %>
                <%= f.submit "Create User", class: "btn btn-danger ml-4" %>
                <% end %>

            </div>

        </div>
    </div>
</div>