<div class="container">

    <% if @edit_success %>
    <div class="row justify-content-center mt-3">
        <div class="alert alert-success" role="alert">
            <%= @edit_success %>
            <button type="button" class="close ml-3" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <% end %>

    <% if @delete_success %>
    <div class="row justify-content-center mt-3">
        <div class="alert alert-warning" role="alert">
            <%= @delete_success %>
            <button type="button" class="close ml-3" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <% end %>
    
    <% if user_logged_in? %>
    <div class="row justify-content-center mt-3">
        <h2> <%= @current_user.username %>'s profile page </h2>
    </div>
    <% end %>
    
    <div class="row justify-content-center">
        <h3> Your Reviews Here: </h3>
    </div>

    <div class="row justify-content-center">
        <% @current_user.reviews.each do |review| %>
        <div class="card text-center text-white bg-secondary col-lg-4 col-md-3 col-sm-12 col-xs-12 m-5">
            <h5 class="card-header bg-secondary">
                <p> <%= link_to review.professor.full_name, professor_path(review.professor), class: "text-white" %>
                </p>
            </h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-white"> <%= "Rating: #{review.rating}" %> </h6>
                <h6 class="card-subtitle mb-2 text-white"> Created on: <%= review.created_at.strftime("%F") %> </h6>
                <p> <%= review.content %> </p>
                <div class="row justify-content-end">
                    <%= link_to "Edit", edit_review_path(review.id), class: "text-white mr-2"%>
                    <%= link_to "Delete", review, :method => :delete, class: "text-white mr-2" %>
                </div>
            </div>
        </div>
        <% end %>
    </div>

    <% if @current_user.reviews.count == 0 %>
    <div class="row justify-content-center">
        <p> Starting writing reviews! </p>
    </div>
    <% end %>

</div>