<div class="jumbotron jumbotron-fluid mt-5">
    <div class="container d-flex justify-content-center">
            <%= form_tag "/", :method => 'get' do%>
            <div class="form-group">
            <%= label_tag "search", "Type in a professor's name" %>
            <%= text_field_tag :search, params[:search], class: "form-control" %>
            </div>
            <%= submit_tag 'Search Professor', class: "btn btn-danger"%>
            <% end %>
    </div>
</div>

<div class="container p-5">
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">See Reviews</th>
        </tr>
    </thead>

    <tbody>
        <% @professors.each do |professor| %>
        <tr>
            <td> <%= professor.first_name %> </td>
            <td> <%= professor.last_name %> </td>
            <td> <%= link_to 'show', professor_path(professor) %> </td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>
