<div class="container">

    <% if @success %>
    <div class="row justify-content-center mt-3">
    <div class="alert alert-success" role="alert">
        <%= @success %>
        <button type="button" class="close ml-3" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    </div>
    <% end %>

    <div class="row justify-content-center mt-3">
        <h2> <%= @professor.full_name %> </h2>
    </div>
    <div class="row justify-content-md-center">
        <% @professor.workplaces.each do |workplace| %>
            <div class="col-md-auto">
                <p> Workplace: <%= workplace.college.name %> </p>
            </div>
        <% end %>
    </div>
    <div class="row justify-content-center">
        <p> Review Average: 
            <% if !@professor.get_review_avg.nan? %>
                <%= @professor.get_review_avg %> 
            <% else %>
                <span> *no reviews to compute average yet* </span>
            <% end %>
        </p>
    </div>
    <div class="row justify-content-center">
        <p> <%= link_to "create review for this professor", new_review_path %> </p>
    </div>
    <div class="row justify-content-center">
        <h3> Reviews: </h3>
    </div>

    <div class="row justify-content-between">

        <% @professor.reviews.each do |review| %>
        <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12 mt-5">
            <div class="card text-center text-white bg-danger mb-3">
                <div class="card-body">
                    <h5 class="card-title"> <%= "Rating: #{review.rating}" %> </h5>
                    <h6 class="card-subtitle mb-2 text-white"> Date Submitted: <%= review.created_at.strftime("%F") %> </h6>
                    <p> <%= review.content %> </p>
                </div>
            </div>
        </div>
        <% end %>
    </div>


</div>