<h1> Professor show page </h1>
<h2> <%= @professor.full_name %> - <%= @professor.department %>

    <h2> <%= link_to "create review for this professor", new_review_path %> </h2>

    <h2> Reviews here </h2>

    <div class="container">
        <div class="row">
            <div class="col">
                <% @professor.reviews.each do |review| %>
                <ul>
                    <li> <%= review.rating %> - <%= review.content %> - <%= review.created_at.strftime("%F") %></li>
                </ul>
                <% end %>
            </div>
        </div>
    </div>