<div class="container-fluid">

    <% if @error %>
    <div class="row justify-content-center mt-3">
    <div class="alert alert-danger" role="alert">
        <%= @error %>
        <button type="button" class="close ml-3" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    </div>
    <% end %>

    <div class="row justify-content-center mt-3">
        <h1> Add a Professor for <%= @current_college.name %> </h1>
    </div>

    <div class="row justify-content-center mt-3">
        <%= form_for @workplace do |f| %>
        <div class="form-group">
            <%= f.label :professor, "Professor name(John Doe/Jane Doe)" %>
            <%= f.text_field :professor, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :department %>
            <%= f.text_field :department, class: "form-control" %>
        </div>
        <div class="row justify-content-center">
            <%= f.submit "Add a professor", class: "btn btn-danger" %>
            <% end %>
        </div>
    </div>
</div>