<div class="container-fluid">
    <div class="row justify-content-center mt-3">
        <h1> Craft your review here for <%= @current_professor.full_name %>! </h1>
    </div>

    <% if @error %>
    <div class="row justify-content-center mt-3">
        <div class="alert alert-danger" role="alert">
            <%= @error %>
            <button type="button" class="close ml-2" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <% end %>
        </div>
    </div>

<div class="container-fluid">
    <div class="row justify-content-center mt-3">
        <div class="form-group">
            <%= form_for @review do |f| %>
            <%= f.label :rating %>
            <%= f.number_field :rating, in: 1..5, class: "form-control" %>
            <%= f.label :content, class: "mt-2" %>
            <%= f.text_area :content, class: "form-control", cols: 50, rows: 8 %>
            <%= f.submit "submit review", class: "btn btn-danger ml-4 mt-4" %>    
            <% end %>

        </div>
    </div>
    </div>

</div>