<!DOCTYPE html>
<html>

<head>
  <title>WordOfMouth</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav>
    <h1> <%= link_to "Word Of Mouth", "/" %> <h1>
        <div>
          <ul>
          <% if user_logged_in? %>
            <li> Hi <%= @current_user.username %> </li>
            <li> <%= button_to "Log out", logout_path, method: :delete %> </li>
          <% else %>
            <li> <%= link_to "Log In", login_path %> </li>
          <% end %>
          </ul>
        </div>
  </nav>
  <%= yield %>
</body>

</html>