<!DOCTYPE html>
<html>

<head>
  <title>WordOfMouth</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav>
    <h1> <%= link_to "Word Of Mouth", "/" %> <h1>
        <div>
          <ul>
            <li> Sign In </li>
            <li> Sign Out</li>
          </ul>
        </div>
  </nav>
  <%= yield %>
</body>

</html>